* {
    box-sizing: border-box;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    width:100%;
}

:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    width:100%;
}

main {
    display: block;
}

hr,
h1,
h2,
h3,
h4,
h5,
p,
img,
ul,
li {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

a {
    -webkit-text-decoration-skip: objects;
    color: inherit;
    text-decoration: none;
}

a,
button,
input,
textarea {
    border: 0;
    font-size: inherit;
    padding: 0;
}

a:focus,
a:active,
a:hover,
button:focus,
button:active,
button:hover,
input:focus,
input:active,
input:hover,
textarea:focus,
textarea:active,
textarea:hover {
    outline: none;
}

figure {
    margin: 0;
}

img {
    appearance: none;
    border: none;
}

select,
button,
input {
    -moz-appearance: none;
    -webkit-appearance: none;
    /* */
    /* */
    /* Para crome, le quita la fechita*/
    /* Para safari , IOS*/
    appearance: none;
    border-radius: 0;
    border: none;
    font-family: inherit;
    overflow: visible;
}

select::-ms-expand,
button::-ms-expand,
input::-ms-expand {
    display: none;
}

select:hover,
button:hover,
input:hover {
    cursor: pointer;
}

select:focus,
select:active,
button:focus,
button:active,
input:focus,
input:active {
    -moz-outline-style: none !important;
    outline: none !important;
}

input[type=submit]:hover {
    cursor: pointer;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

audio,
video,
canvas {
    display: inline-block;
}

button,
input,
select {
    appearance: none;
}


a,
button {
    -webkit-tap-highlight-color: transparent;
}